@import "tailwindcss";

:root {
  --background: #141414;
  --background-secondary: #1A1A1A;

  --primary: #7F49B4;
  --primary-hover: #9460C8;

  --text-primary: #F5F5F5;
  --text-secondary: #CFCFCF;

  --border: rgba(255, 255, 255, 0.08);
}

html {
  font-family: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--text-primary);
}

code,
pre {
  font-family: var(--font-geist-mono);
}

/* Tailwind v4 colors */
@theme {
  --color-primary: #7F49B4;
  --color-primary-hover: #9460C8;
  --color-background: #141414;
  --color-background-secondary: #1A1A1A;
  --color-text-primary: #F5F5F5;
  --color-text-secondary: #CFCFCF;
}